* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: #4488FF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 7px 10px rgba(34, 33, 33, 0.6);
  background-color: black;
  height: 450px;
  width: 230px;
  border-radius: 20px;
}

.screen {
  width: 200px;
  height: 110px;
  background-color: rgb(20, 20, 20);
  color: #fff;
  margin-bottom: 20px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 10px;
}

.screen span {
  margin-right: 15px;
}

.current-operand span {
  font-size: 32px;
}

.previous-operand span {
  font-size: 18px;
}

.calc-button-rows-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.row {
  width: 200px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

button {
  margin: 5px 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  border: none;
}

button:focus {
  outline: 0;
}

.light-grey {
  background-color: rgb(206, 197, 197);
  font-size: la;
}

.operations,
.equals {
  color: #fff;
  background-color: orange;
  font-size: larger;
}

#percentage {
  background-color: rgb(206, 197, 197);
  color: black;
}

.number-btns {
  background-color: rgb(129, 123, 123);
  color: #fff;
}

.zero-btn {
  width: 89px;
  border-radius: 100px;
}
